<nav class="navbar navbar-inverse">
  <div class="container-fluid justify-content-between">
    <%= link_to wish_lists_path do %>
      <i class="fa-solid fa-arrow-left-long fa-lg heading"></i>
    <% end %>
    <h2 class="text-center my-2 heading"><%= @wishlist.title.capitalize %></h2>
    <p></p>
  </div>
</nav>

<div class="container mt-2">
  <div>
    <div class="card-wishlist">
      <div class="me-3"><i class="fa-solid fa-sack-dollar"></i></div>
      <div>
        Total: $<%= @total.round(2) %>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <% @products.each do |product|%>
      <div class="card-body my-4 card-product-wishlist">
        <div class="d-flex align-items-center py-1 px-1">
          <i class="fa-solid fa-bone"></i>
          <div class="p-2 flex-grow-1">
            <% unless product.url.nil? %>
              <%= link_to product.url, target:"_blank", class: "text-decoration-none" do %>
                <p class="card-title"><strong><%= truncate(product[:name].capitalize.gsub('.', ' '), length: 20) %></strong></p>
              <% end %>
            <% else %>
              <p class="card-title"><strong><%= truncate(product.name.capitalize, length:20) %></strong></p>
            <% end %>
          </div>
          <div class="p-2">
            <h4 class="card-text mx-1"><strong> $ <%= product.price %></strong></h4>
          </div>
          <div class="mx-1">
            <%= link_to product_path(product), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'} do %>
              <i class="fa-solid fa-trash-can fa-sm w-100 text-end my-2 text-white"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to 'Add products', new_wish_list_product_path(@wishlist), class: 'btn-product m-2' %>
    <%= link_to 'Search the web', wish_list_search_path(@wishlist), class: 'btn-product m-2' %>
  </div>
</div>
