<nav class="navbar navbar-inverse">
  <div class="container-fluid justify-content-between">
    <%= link_to wish_lists_path do %>
      <i class="fa-solid fa-arrow-left-long fa-lg text-dark"></i>
    <% end %>
    <a class="navbar-brand"><strong><%= @wishlist.title %></strong></a>
    <%= link_to wish_list_path(@wishlist), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
      <i class="fa-solid fa-trash-can fa-lg" style="color: #c30404;"></i>
    <% end %>
  </div>
</nav>
<div class="container mt-2">
  <% @products.each do |product|%>
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h4 class="card-title mb-2"><strong><%= product.name.capitalize %></strong></h4>
          <%= link_to product_path(product), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
            <i class="fa-solid fa-trash-can fa-lg" style="color: #c30404;"></i>
          <% end %>
        </div>
        <p class="card-text"><strong>Price:</strong> $<%= product.price %></p>
        <p class="card-text"><strong>Store:</strong> <%= product.local %></p>
      </div>
    </div>
  <% end %>
  <div class="d-flex justify-content-center mb-3">
    <%= link_to 'Add more products', new_wish_list_product_path(@wishlist), class: 'btn btn-primary' %>
  </div>

</div>
