<div class="container mt-5">
  <h1><%= @wishlist.title %></h1>
  <%= link_to 'Add Products', new_wish_list_product_path(@wishlist)%>
  <% @wishlist.products.each do |product|%>
    <p class="card-text"><%= product.name %></p>
    <p class="card-text"><%= product.price %></p>
    <p class="card-text"><%= product.local %></p>
  <% end %>
  <div class="btn-group mt-3">
    <%= link_to 'Back', wish_lists_path, class: 'btn btn-secondary' %>
    <%= link_to 'Delete', wish_list_path(@wishlist), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <%= link_to 'Edit', edit_wish_list_path(@wishlist), class: 'btn btn-primary' %>
  </div>
</div>
