<div class="container">
  <h2 class="text-center my-2">Add a Pet</h2>
  <%= simple_form_for(@pet) do |f| %>
    <div class="row">
      <div class="col-12">
        <%= f.input :name, disabled: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <%= f.input :specie, disabled: true %>
      </div>
      <div class="col-8">
        <%= f.input :breed, disabled: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <%= f.input :weight, placeholder: "Weight" %>
      </div>
      <div class="col-8">
        <%= f.label :dob, "Date of birth (dd/mm/yyyy)", class:"mb-2" %>
        <%= f.input :dob, label: false, disabled: true %>
      </div>
    </div>
    <div class="row">
      <div class="d-grid gap-2">
        <%= f.submit class:"btn btn-primary" %>
        <%= link_to 'Go back', pets_path, class:'btn btn-secondary'  %>
      </div>
    </div>
  <% end %>
</div>
