<nav class="navbar navbar-inverse">
  <div class="container-fluid justify-content-between">
    <%= link_to pet_path(@pet) do %>
      <i class="fa-solid fa-arrow-left-long fa-lg text-dark"></i>
    <% end %>
    <a class="navbar-brand"><strong>Edit <%= @pet.name %></strong></a>
    <p></p>
  </div>
</nav>

<div class="container">
  <%= simple_form_for(@pet) do |f| %>
  
    <div class="row">
      <div class="col-12">
        <%= f.input :name, disabled: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <%= f.input :specie, disabled: true %>
      </div>
      <div class="col-8">
        <%= f.input :breed %>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <%= f.input :weight, placeholder: "Weight" %>
      </div>
      <div class="col-8">
        <%= f.label :dob, "Date of birth (dd/mm/yyyy)", class:"mb-2" %>
         <%= f.input :dob, label: false, as: :date, start_year: Date.today.year - 50,
                              end_year: Date.today.year, order: [:day, :month, :year],
                              html5: true, placeholder: "Date of birth", input_html: { max: Date.today.to_s } %>
      </div>
    </div>
    <div class="row">
      <div class="d-grid gap-2">
        <%= f.submit class:"btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
