<nav class="navbar navbar-inverse">
  <div class="container-fluid justify-content-between">
    <p></p>

    <a class="navbar-brand"><strong>My Pets</strong></a>

    <%= link_to new_pet_path do %>
      <i class="fa-solid fa-plus fa-lg text-dark"></i>
    <% end %>
  </div>
</nav>

<div class="container mt-2">
  <div class="row">
    <% @pets.each do |pet| %>
      <div class="col-3 my-2">
        <%= link_to pet_path(pet), class:"text-decoration-none", style:"color: inherit;" do %>
          <% if pet.image.attached? %>
            <%= cl_image_tag pet.image.key, class:"img-pet img-fluid border border-5" %>
          <% else %>
            <%= image_tag 'pet-placeholder.png', class:"img-pet img-fluid border border-5" %>
          <% end %>
        <% end %>
      </div>
      <div class="col-9 mb-2">
        <%= link_to pet_path(pet), class:"text-decoration-none", style:"color: inherit;" do %>
          <h5 class='my-1'><strong><%= pet.name %></strong></h5>
        <% end %>
        <% unless pet.breed.blank? %>
          <p class="my-1">Breed: <strong><%= pet.breed %></strong></p>
        <% end %>
        <% unless pet.dob.nil? %>
          <% age = ((Time.zone.now - pet.dob.to_time) / 1.year.seconds).floor %>
          <p class="my-1">Age: <strong><%= age  %></strong> years old</p>
        <% end %>
        <% unless pet.weight.nil? %>
          <p class="my-1">Weight: <strong><%= pet.weight %></strong> kgs</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
