<div class="container">
  <h2 class="text-center my-2">Add a Pet</h2>
  <%= simple_form_for(@pet) do |f| %>
    <div class="row">
      <div class="col-12">
        <%= f.input :name, placeholder: "Pet name" %>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <%= f.input :specie, collection: Pet::SPECIE %>
      </div>
      <div class="col-8">
        <%= f.input :breed, placeholder: "Breed" %>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <%= f.input :weight, placeholder: "Weight" %>
      </div>
      <div class="col-8">
        <%= f.label :dob, "Date of birth (dd/mm/yyyy)", class:"mb-2" %>
        <%= f.input :dob, label: false, as: :date, start_year: Date.today.year - 50,
                              end_year: Date.today.year, order: [:day, :month, :year],
                              html5: true, placeholder: "Date of birth" %>
      </div>
    </div>
    <div class="row">
      <div class="d-grid gap-2">
        <%= f.submit class:"btn btn-primary" %>
        <%= link_to 'Go back', pets_path, class:'btn btn-secondary' %>
      </div>
    </div>
  <% end %>
</div>
