<nav class="navbar navbar-inverse">
  <div class="container-fluid justify-content-between">
    <%= link_to pets_path do %>
      <i class="fa-solid fa-arrow-left-long fa-lg heading"></i>
    <% end %>
    <h2 class="pet-name heading"><%= @pet.name.capitalize %></h2>

    <li class="nav-item dropdown">
      <button class="dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa-solid fa-gear heading"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to edit_pet_path(@pet), class:"dropdown-item" do %>
          <i class="fa-solid fa-pen-to-square fa-lg"></i> Edit
        <% end %>
        <%= link_to pet_path(@pet), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class:"dropdown-item" do %>
          <i class="fa-solid fa-trash-can fa-lg" style="color: #c30404;"></i> Delete
        <% end %>
      </div>
    </li>
  </div>
</nav>

<div class="container mt-2">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <% if @pet.image.attached? %>
          <%= cl_image_tag @pet.image.key, class:"img-pet" %>
        <% else %>
          <%= image_tag 'pet-placeholder.png', class:"img-pet" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-12">
      <p class="mb-2">Species: <%= @pet.specie %></strong></p>
      <% unless @pet.breed.blank? %>
        <p class="my-2">Breed: <strong><%= @pet.breed %></strong></p>
      <% end %>
      <% unless @pet.dob.nil? %>
        <p class="my-1">Age: <strong><%= calculate_age(@pet.dob.to_time) %></strong> years old</p>
      <% end %>
      <% unless @pet.weight.nil? %>
        <p class="my-2">Weight: <strong><%= @pet.weight %></strong> kgs</p>
      <% end %>
    </div>
  </div>

  <div class="row m-2 fixed-bottom">
    <div class="col-6 d-grid text-center">
      <%= link_to pet_medicines_path(@pet), class:"btn btn-primary text-decoration-none" do %>
        <i class="fa-solid fa-prescription-bottle fa-lg"></i>
        Medicines
      <% end %>
    </div>
    <div class="col-6 d-grid text-center">
      <%= link_to pet_vaccines_path(@pet), class:"btn btn-primary text-decoration-none" do %>
        <i class="fa-solid fa-syringe fa-lg"></i>
        Vaccines
      <% end %>
    </div>
  </div>
</div>
