<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h1><%= @pet.name %></h1>
          <h5 class="card-title">Informações do Pet</h5>
          <p class="card-text">Espécie: <%= @pet.specie %></p>
          <p class="card-text">Raça: <%= @pet.breed %></p>
          <p class="card-text">Peso: <%= @pet.weight %> kg</p>
          <p class="card-text">Idade: <%= @pet.dob %></p>
          <%= link_to 'Voltar', pets_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
