<nav class="navbar navbar-inverse">
  <div class="container-fluid justify-content-between">
    <%= link_to pet_vaccines_path(@pet) do %>
      <i class="fa-solid fa-arrow-left-long fa-lg heading"></i>
    <% end %>
    <h2 class="heading">Confirm Revaccination</h2>

    <p></p>
  </div>
</nav>
<div class="container">
  <%= simple_form_for [@pet, @revaccine], url: pet_revaccine_path, method: :post do |f| %>
    <div class="row mt-2">
      <div class="col-12">
        <%= f.input :name, label: 'Name' %>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <%= f.input :vaccination_date, html5: :true, label: 'Vaccination Date', input_html: { value: converted_date(Time.zone.now, @vaccine.revaccination_period) } %>
      </div>
      <div class="col-6">
        <%= f.input :revaccination_period, collection: Vaccine::PERIOD, label: 'Revaccination' %>
      </div>
      <div>
        <%= f.hidden_field :id, value: @vaccine.id %>
      </div>
    </div>

    <div class="d-grid gap-2">
      <%= f.button :submit, 'Save', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
