<nav class="navbar navbar-inverse">
  <div class="container-fluid justify-content-between">
    <%= link_to pet_path(@pet) do %>
      <i class="fa-solid fa-arrow-left-long fa-lg heading"></i>
    <% end %>
    <h2 class="pet-name heading"><%= @pet.name.capitalize %>'s Vaccines</h2>
    <%= link_to new_pet_vaccine_path(@pet) do %>
      <i class="fa-solid fa-plus fa-lg heading"></i>
    <% end %>
  </div>
</nav>

<div class="container mt-2">
  <div class="row">
      <% @vaccines.each do |vaccine| %>
        <div class="card">
          <div class="d-flex">
            <div class="p-2 flex-grow-1"><strong><%= vaccine.name %></strong></div>
            <div class="p-2">Date: <strong><%= vaccine.vaccination_date.strftime("%b-%d-%Y") %></strong></div>
            <div class="p-2">
              <%= link_to vaccine_path(vaccine), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class:"dropdown-item" do %>
                <i class="fa-solid fa-trash-can" style="color: #c30404;"></i>
              <% end %>
            </div>
          </div>
          <% unless vaccine.revaccination %>
            <% unless vaccine.next_vaccination.nil? %>
              <div class="d-flex">
                <div class="p-2 flex-grow-1">Next Dose: <%= vaccine.next_vaccination.strftime("%b-%d-%Y") %></div>
                <% if ((string_to_date(vaccine.vaccination_date, vaccine.revaccination_period).to_time - Time.zone.now.to_time) / 1.days).to_i >= 0 %>
                  <div class="p-2">in <%= ((string_to_date(vaccine.vaccination_date, vaccine.revaccination_period).to_time - Time.zone.now.to_time) / 1.days).to_i %> day(s)</div>
                <% else %>
                  <div class="p-2"><span class=" text-danger"><strong><%= (((string_to_date(vaccine.vaccination_date, vaccine.revaccination_period).to_time - Time.zone.now.to_time) / 1.days).to_i) * (-1)  %> day(s) late</strong></span></div>
                <% end %>
              </div>
              <div class="d-flex justify-content-end my-2">
                <%= link_to "Revaccinated", edit_pet_vaccine_path(pet_id: @pet.id, id: vaccine.id), class:"btn btn-sm btn-primary mx-2"%>
              </div>
            <% end %>
          <% end %>
        </div>
        <hr>
      <% end %>
  </div>
</div>
