<nav class="navbar navbar-inverse">
  <div class="container-fluid justify-content-between">
    <%= link_to authenticated_root_path do %>
      <i class="fa-solid fa-arrow-left-long fa-lg heading"></i>
    <% end %>
    <h2 class="heading">Dossier</h2>
    <p></p>
  </div>
</nav>

<div class="container">
  <h3>Vaccines:</h3>
  <div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr class="table-title">
        <th>Pet Name</th>
        <th>Vaccine Name</th>
        <th>Vaccination Date</th>
        <th>Next Vaccination</th>
      </tr>
    </thead>
    <tbody>
      <% @vaccines.each do |vaccine| %>
      <% pet = Pet.find(vaccine.pet_id) %>
        <tr>
          <td><%= pet.name %></td>
          <td><%= vaccine.name %></td>
          <td class="text-table"><%= vaccine.vaccination_date.strftime("%d/%m/%Y") %></td>
          <td class="text-table"><%= vaccine.next_vaccination %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

  <div class="table-responsive">
  <h3>Medicines:</h3>
  <table class="table table-striped">
    <thead>
      <tr class="table-title">
        <th>Pet Name</th>
        <th>Medicine Name</th>
        <th>Dosage</th>
        <th>Period</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      <% @medicines.each do |medicine| %>
      <% pet = Pet.find(medicine.pet_id) %>
        <tr>
          <td><%= pet.name %></td>
          <td><%= medicine.name %></td>
          <td><%= medicine.dosage %> <%= medicine.unit %></td>
          <td><%= medicine.period %>/day</td>
          <td class="text-table"><%= medicine.start_date.strftime("%d/%m/%Y") %></td>
          <td class="text-table"><%= medicine.end_date.strftime("%d/%m/%Y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
