<nav class="navbar navbar-inverse">
  <div class="container-fluid justify-content-between">
    <%= link_to authenticated_root_path do %>
      <i class="fa-solid fa-arrow-left-long fa-lg heading"></i>
    <% end %>
    <h2 class="heading">Dossier</h2>
    <p></p>
  </div>
</nav>

<div class="container">
  <h3>Vaccines:</h3>
  <ul>
    <% @vaccines.each do |vaccine| %>
    <% pet = Pet.find(vaccine.pet_id) %>
      <li><%= pet.name %></li>
      <li><%= vaccine.name %></li>
      <li><%= vaccine.vaccination_date %></li>
      <li><%= vaccine.next_vaccination %></li>
    <% end %>
  </ul>

  <h3>Medicines:</h3>
  <ul>
    <% @medicines.each do |medicine| %>
    <% pet = Pet.find(medicine.pet_id) %>
      <li><%= pet.name %></li>
      <li><%= medicine.name %></li>
      <li><%= medicine.dosage %></li>
      <li><%= medicine.period %></li>
      <li><%= medicine.unit %></li>
      <li><%= medicine.start_date %></li>
      <li><%= medicine.end_date %></li>
    <% end %>
  </ul>

</div>
