<div class="card mt-2">
  <div class="card-body card-random mx-2">
    <blockquote class="blockquote mb-0">
      <p><%= @facts.sample.content %></p>
      <footer class="blockquote-footer text-white-50">Random Fact</cite></footer>
    </blockquote>
  </div>
</div>
<div class="container">
  <div class="cards mt-5">
    <div class="card-category img-card1">
      <%= link_to "Wishlists", wish_lists_path, class:"link-text text-decoration-none text-white" %>
    </div>

    <div class="card-category img-card2">
      <%= link_to "Dossier", dossier_path, class:"link-text text-decoration-none text-white" %>
    </div>

    <div class="card-category img-card3">
      <%= link_to "Pets", pets_path, class:"link-text text-decoration-none text-white" %>
    </div>
  </div>
</div>
<div class="img-bot img-cat">
  <%= image_tag "catpaw-i.png", class: "d-flex align-items-center w-50" %>
</div>
